<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Idea Form</title>
    {% load static %}
    <!-- Icons font CSS-->
    <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Vendor CSS-->
    <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/ideamain.css' %}" rel="stylesheet" media="all">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'Home' %}">STARTUP WEBSITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'Home' %}">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'About' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'EntreIndex' %}">Entrepreneur</a>
            </li>
             <li class="nav-item">
          <a class="nav-link" href="{% url 'InvestIndex' %}">Investor</a>
          </li>
        <li class="nav-item">
        <a class="nav-link active" href="{% url 'MoreInfo' %}">Edit</a>
        </li>
        <li class="nav-item">
        <a class="nav-link  active" href="{% url 'Contact' %}">Contact</a>
        </li>

  </ul>
  </nav>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
           
                <div class="card-heading"></div>
                <div class="card-body">
                    {% if reg %}
                    
                    <h1 class="title"> Your Profile Is Updated</h1>
                    {% else %}
                    
                    <h2 class="title">Update Your Profile here</h2>
                    <p class="title">WELCOME {{ un }}</p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="input--style-3" type="number" placeholder="Total Funds" name="funds">
                        </div>
                            <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Previous_projects" name="prev_proj">
                        </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                  <input type="file" name="image" class="custom-file-input" id="inputGroupFile02" />
                                  <label class="custom-file-label" for="inputGroupFile02">Choose image</label>
                                </div>
                              </div>
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

     <div class="container">
 <div class="footer-bottom">
                    <div class="row">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right">
                                
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website  is made by Aanya Jain and Prajul Gupta
</p>
                            </div>
                        </div>
                    </div>
               </div>
               </div>
    <!-- Jquery JS-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="static/vendor/select2/select2.min.js"></script>
    <script src="static/vendor/datepicker/moment.min.js"></script>
    <script src="static/vendor/datepicker/daterangepicker.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>
</body>
</html>